
            <dl class="w3-padding-small w3-card-4">
                <dt class="w3-padding-small">username</dt>
                <dd>{{ form.username('username', type="text") }}</dd>
                <dt class="w3-padding-small">nickName</dt>
                <dd>{{ form.nickName('nickName', type="text") }}</dd>
                <dt class="w3-padding-small">password</dt>
                <dd>{{ form.password('password', type='password') }}</dd>
                <dt class="w3-padding-small">pinCode</dt>
                <dd>{{ form.pinCode('pinCode', type='password') }}</dd>
                <dd><button class="w3-button w3-center" type="submit">submit</button></dd>
