<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Admin Registration Form</title>

</head>
<body>
<div class="container">
	<h2>Admin Registration </h2>
	<form action="/register" method="post">
		{% if message is defined and message %}
			<div class="alert alert-warning"> <strong> {{ message }} ???? </strong></div>
		{% endif %}
		<br>
		<div class="form-group">
			Name: <input type="text" class="form-control" id="nickName" name="Display Name" placeholder="Enter NickName" name="nickname">
		</div>
		<div class="form-group">
			Email: <input type="text" class="form-control" id="userId" name="userId" placeholder="Enter userId" name="userId">
		</div>
		<div class="form-group">
			Password: <input type="password" class="form-control" id="password" name="password" placeholder="Enter password" name="pswd">
		</div>
        <div class="form-group">
			Confirm Password: <input type="password" class="form-control" id="password2" name="password2" placeholder="Confirm password" name="pswd2">
		</div>
		<div class="form-group">
			Pin Code: <input type="password" class="form-control" id="pinCode" name="pinCode" placeholder="Enter PIN" name="pin">
		</div>
		<div class="form-group">
			Confirm Pin Code: <input type="password" class="form-control" id="pinCode2" name="pinCode2" placeholder="Confirm PIN" name="pin2">
		</div>

		<button type="submit" class="btn btn-primary">Register</button>
		<p class="bottom">Already have an account? <a class="bottom" href="./auth/login.html"> Login here</a></p>
	</form>
</div>	
</body>
</html>
